- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {
      type_selected = "";

      $("#select-items-services a").click(function(){
        type_selected = $(this).attr("data-type");
        $("#select-items-services").hide();
        $("#select-categories").show();
      })

    });

  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"


- content_for :title_header do
  %h1= t("listings.new.post_a_new_listing")
  
- available_categorizations = @current_community.available_categorizations
#new_listing_form.new-listing-form.centered-section

  %h2.listing-form-title{:id => "foo"}
    Select Category

  #select-items-services
    %a{class: "select option", data: {type: "items"} }
      .link-text
        Items    
    %a{class: "select option", data: {type: "services"}}
      .link-text
        Services
  #select-categories
    - @current_community.categories.each do |category|
      %a{class: "select option", href:"", name: "item" }
        .link-text
          =category.name


  = form_for @listing, :html => {:multipart => true} do |form|

    =form.label :title
    =form.text_field :title

    =form.label :price
    =form.text_field :price

    =form.label :retail_value
    =form.text_field :retail_value

    =form.label :description    
    =form.text_field :description

    =form.label :location
    =form.text_field :location

    #listing_map_canvas.jsmap

    - content_for :extra_javascript do
      :javascript 
        $(document).ready(function() { 
            var source = "listing_origin";
            googlemapMarkerInit('listing_map_canvas',"listing_origin_loc_attributes","listing_origin",true, #{tribe_latitude}, #{tribe_longitude});
        });


    =render partial: "listings/form/images"
    =form.hidden_field(:category)
    =form.button t(".save_listing"), :class => "send_button"
   

= render :partial => "listings/help_texts", :collection => ["help_valid_until"], :as => :field    