%h2
  Credit cards on file

%p
  Existing credit cards

%p
  Enter your Credit or Debit Card

= form_tag add_card_braintree_settings_payment_path, method: :post do
  %label
    Card Number
  = text_field_tag "number"
  %label
    Name on card  
  = text_field_tag "name_on_card"

  %label
    Expiration Date
    = date_select("expiration_date", "expiration_date", start_year: Date.today.year, end_year: (Date.today.year+10), use_month_numbers: true, discard_day: true, include_blank: true)
  %p
    Billing Address
  %label 
    First Name
  = text_field_tag "first_name"
  %label 
    Last Name
  = text_field_tag "last_name"
  %label
    Company
  = text_field_tag "company"
  %label
    Address Line 1
  = text_field_tag "street_address"
  %label
    Address Line 2
  = text_field_tag "extended_address"
  %label
    City
  = text_field_tag "locality"
  %label
    State
  = text_field_tag "region"
  %label
    ZIP
  = text_field_tag "postal_code"
  %label
    Country
  = text_field_tag "country_code_alpha2"

  = submit_tag "Create"