%p
  Enter your Credit or Debit Card

  %label
    Card Number
  = text_field_tag "number", @credit_card.try(:masked_number)
  %label
    Name on card  
  = text_field_tag "name_on_card", @credit_card.try(:cardholder_name)

  %label
    Expiration Date
    =select_date get_expiration_date, discard_day: true
  %p
    Billing Address
  %label 
    First Name
  = text_field_tag "first_name", @credit_card.try(:billing_address).try(:first_name)
  %label 
    Last Name
  = text_field_tag "last_name", @credit_card.try(:billing_address).try(:last_name)
  %label
    Company
  = text_field_tag "company", @credit_card.try(:billing_address).try(:company)
  %label
    Address Line 1
  = text_field_tag "street_address", @credit_card.try(:billing_address).try(:street_address)
  %label
    Address Line 2
  = text_field_tag "extended_address", @credit_card.try(:billing_address).try(:extended_address)
  %label
    City
  = text_field_tag "locality", @credit_card.try(:billing_address).try(:locality)
  %label
    State
  = text_field_tag "region", @credit_card.try(:billing_address).try(:region)
  %label
    ZIP
  = text_field_tag "postal_code", @credit_card.try(:billing_address).try(:postal_code)
  %label
    Country
  = text_field_tag "country_code_alpha2", @credit_card.try(:billing_address).try(:country_code_alpha2)

  = submit_tag "Save"