%p
  Enter your Credit or Debit Card

  %label
    Card Number
  = text_field_tag "number", @credit_card.try(:masked_number), id: "cc_number"

  %div{style: "display:#{payment_form_display}"}  
    %label
      Name on card  
    = text_field_tag "name_on_card", "#{@braintree_account.try(:first_name)} #{@braintree_account.try(:last_name)}"

  %label
    Expiration Date
    =select_date get_expiration_date, discard_day: true

  %div{style: "display:#{payment_form_display}"}
    %p
      Billing Address
    %label 
      First Name
    = text_field_tag "braintree_account[first_name]", @braintree_account.try(:first_name)
    %label 
      Last Name
    = text_field_tag "braintree_account[last_name]", @braintree_account.try(:last_name)
    %label
      Company
    = text_field_tag "company", "Sharegrid"
    %label
      Address Line 1
    = text_field_tag "braintree_account[address_street_address]", @braintree_account.try(:address_street_address)
    %label
      City
    = text_field_tag "braintree_account[address_locality]", @braintree_account.try(:address_locality)
    %label
      State
    = text_field_tag "braintree_account[address_region]", @braintree_account.try(:address_region)
    %label
      ZIP
    = text_field_tag "braintree_account[address_postal_code]", @braintree_account.try(:address_postal_code)
    %label
      Country
    = text_field_tag "address_country_code_alpha2", " US"

  = button_tag "Save", id: "add-card-button", type: "button"