- status = @braintree_account.braintree_account_merchant_data.status

- if status
  %h3= "Account status: #{status}"

  - if status == "pending"
    %p
      = "Your account is pending for approval. This shouldn't take more than a couple of minutes. We'll email you when your payment account is ready to be used."
  - elsif status == "suspended"
    %p
      = "Your account was declined during the activation process. Please contact the administrators for more information."
  - elsif status == "active"
    %p
      = "Your payment account is approved and ready to be used."
  - else
    %p
      = "Something went wrong. Please contact administrators."
    %p
      = "Error: Unknown account status '#{status}'"
  
%dl.braintree-account-details
  %dt.braintree-account-key
    = t("braintree_accounts.new.first_name")
  %dd.braintree-account-value
    = @braintree_account.first_name

  %dt.braintree-account-key
    = t("braintree_accounts.new.last_name")
  %dd.braintree-account-value
    = @braintree_account.last_name

  %dt.braintree-account-key
    = t("braintree_accounts.new.email")
  %dd.braintree-account-value
    = @braintree_account.email

  %dt.braintree-account-key
    = t("braintree_accounts.new.phone")
  %dd.braintree-account-value
    = @braintree_account.phone

  %dt.braintree-account-key
    = t("braintree_accounts.new.address_street_address")
  %dd.braintree-account-value
    = @braintree_account.address_street_address

  %dt.braintree-account-key
    = t("braintree_accounts.new.address_postal_code")
  %dd.braintree-account-value
    = @braintree_account.address_postal_code

  %dt.braintree-account-key
    = t("braintree_accounts.new.address_locality")
  %dd.braintree-account-value
    = @braintree_account.address_locality

  %dt.braintree-account-key
    = t("braintree_accounts.new.address_region")
  %dd.braintree-account-value
    = @state_name

  %dt.braintree-account-key
    = t("braintree_accounts.new.date_of_birth")
  %dd.braintree-account-value
    = @braintree_account.date_of_birth

  %dt.braintree-account-key
    = t("braintree_accounts.new.ssn")
  %dd.braintree-account-value
    = @braintree_account.braintree_account_merchant_data.ssn

  %dt.braintree-account-key
    = t("braintree_accounts.new.routing_number")
  %dd.braintree-account-value
    = @braintree_account.braintree_account_merchant_data.routing_number

  %dt.braintree-account-key
    = t("braintree_accounts.new.account_number")
  %dd.braintree-account-value
    = @braintree_account.braintree_account_merchant_data.account_number